
.chrome-pet-box {
	position:absolute !important;
	/*width:100%;
	height:100%;*/
	z-index:99999999;
	/*pointer-events: none;*/
	left:0px;
	top:0px;
	/*display: block;
	line-height:0;*/
	/*overflow: hidden;*/
}

#emoji-pet-floor {
	position:fixed;
	z-index:99999;
	/*top:100%;*/
	/*margin-bottom: 0px;
	/*height:10px;*/
}

.emoji {
	position:relative !important;
	/*padding:20px;*/
	width:20px !important;
	height:20px !important;
	/*font-size:14pt !important;
	z-index:99999999 !important;
	display:block;*/
	/*overflow: visible;*/
	/*line-height:normal;*/
}

.emoji-pet-hitbox:hover {
	cursor:-webkit-grab;
	/*padding-left:100px;
	padding-top:100px;
	padding-right:100px;
	padding-bottom:100px;*/
	padding-left:80px;
	padding-top:80px;
	border-top-left-radius: 90px; /* 10 + x */
	border-top-right-radius: 90px;
	left:-80px;
	top:-80px;
	width:100px; /* 20 + x*/
	height:19px;
	/*background-color: rgba(255, 255, 0, 0.2);*/
	position:absolute;
	/*overflow:hidden;*/
}

/*.emoji-pet-hitbox::after {
	content:"";
	cursor:-webkit-grab;
	padding-left:80px;
	border-bottom-left-radius: 90px;
	border-bottom-right-radius: 90px;
	left:0px;
	top:103px;
	line-height:0px;
	width:100px;
	height:90px;
	background-color: rgba(0, 0, 255, 0.2);
	position:absolute;
	overflow:hidden;
}*/

.emoji-pet-hitbox:active {
	cursor:-webkit-grabbing;
}

.emoji:active {
	cursor:-webkit-grabbing;
}

.emoji img {
	width:20px;
	height:20px;
}

.text-emoji {
	font-size: 14pt;
}

